@mixin size-btn($w, $h, $bg, $br, $bs) {
    width: $w;
    height: $h;
    background-color: $bg;
    border-radius: $br;
    border-style: $bs;
    &:hover {
        background: white;
        transition: all 0.2s ease;
        text-decoration: none;
        color: var(--primary-900);
        border: 2px solid darken($bg,100%);
      }
 }
 
 